.navbar {
  background-color: #f1faee;
}

.jumbotron {
  padding: 2rem 1rem;
  padding-top: 5rem;
  background-color: #a8dadc;
}

.projects {
  background-image: linear-gradient(#a8dadc, #fff);
}

section {
  padding-top: 5rem;
}

#certif {
  width: 300px;
}

footer {
  background-color: #a8dadc;
}
