.navbar {
  background-color: #1d3557;
}

.jumbotron {
  padding: 2rem 1rem;
  padding-top: 5rem;
  background-color: #e63946;
}

.projects {
  background-image: linear-gradient(#e63946, #fff);
}

section {
  padding-top: 5rem;
}

#certif {
  width: 300px;
}

footer {
  background-color: #1d3557;
}
